CMakeLists.txt.user
C_CODE_EDIT.pro.user
build/
QCodeEditor_BuildInstructions.md
old_CodeEditor.cpp
Fix.md
GutterWidget_fix.zip
GutterWidget_fix/
.gitignore
query_test.py
venv/
treesitter_c_node_types.html
test_folding.c
_RAINBOW_BRACKET_BUG_REPORT.md_
demo_typer.py
qcodeengine_repo_audit.html
.kiro/
README.html
scratch_test.c
test_c_code.c
PROJECT_REPORT.md
IMPLEMENT_CODE_FOLDING.md
FOLDING_TEST_REPORT.md
allcontent.txt
improvement_Fix/
linehighlight/
exorcist_src/

